{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Admin Panel{% endblock %}
{% block body %}
    <div class="admin-panel">
        <h1>Admin Panel</h1>
        <div class="admin-pills">
            <div class="admin-pill">
                <a href="{{ path('adminpanel')}}">Orders</a>
            </div>
            <div class="admin-pill">
                <a href="{{ path('adminpanel', {page:1}) }}">Messages</a>
            </div>
        </div>
        {% if page == 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full name</th>
                        <th scope="col">City</th>
                        <th scope="col">Zipcode</th>
                        <th scope="col">Street</th>
                        <th scope="col">Street Number</th>
                        <th scope="col">Credit Card</th>
                        <th scope="col">Product</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{ order.id }}</th>
                        <td>{{ order.fullName }}</td>
                        <td>{{ order.city }}</td>
                        <td>{{ order.zipcode }}</td>
                        <td>{{ order.street }}</td>
                        <td>{{ order.streetNumber }}</td>
                        <td>{{ order.creditcard }}</td>
                        <td>{{ order.productId.name }}</td>
                        <td>{{ order.amount }}</td>
                        <td>{{ order.productId.price }}$ x {{ order.amount }} = {{ order.productId.price * order.amount }}$</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="admin-messages">
                {% for message in messages %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ message.firstName }} {{ message.lastName }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ message.email }}</h6>
                            <p class="card-text">{{ message.msg }}</p>
                            <a href="{{ path('delete_message', {'id': message.id}) }}" class="btn btn-warning card-link">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}