{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Products{% endblock %}
{% block body %}

        <div class="col-sm-2 bg-secondary-subtle">
            <div>
                <h1>Categories</h1>
                <nav>
                    <ul class="list-group">
                        {% if app.request.get('slug') == null %}
                            <li class="list-group-item active">
                                <a style="color: white;" href="{{ path('products') }}">All</a>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                <a href="{{ path('products') }}">All</a>
                            </li>
                        {% endif %}

                        {% for category in categories %}
                            {% if category.id == app.request.get('slug') %}
                                <li class="list-group-item active">
                                    <a style="color: white;"href="{{ path('products', {
                                        slug: category.id
                                    }) }}">{{ category.name }}</a>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    <a href="{{ path('products', {
                                        slug: category.id
                                    }) }}">{{ category.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </nav>
            </div>

        </div>
        <div class="col">
            {% for category in categories %}
                {% if id == null or category.id == id %}
                <div class="product-category">
                    <div class="product-category-header">
                        <h2>{{ category.name }}</h2>
                        <p>Second header</p>
                    </div>
                    <div class="category-products">
                        {% set products = category.getProducts() %}
                            {% for product in products %}

                                <div class="product-card">
                                    <img src="{{ asset(product.image) }}" alt="{{ product.name }}">
                                    <p class="product-name">{{ product.name }}</p>
                                    <p class="product-price">{{ product.price }}$</p>
                                    <div class="hover-buttons">
                                        <a class="btn btn-secondary" href="{{ path('product', {
                                            slug: product.id
                                        }) }}">More info</a>
                                    </div>
                                </div>
                            {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
{% endblock %}